* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    color: black;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.map {
    height: 100%;
    width: 100%;
    background: black;
}

.map-chooser {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 20;
}

.btn {
    border-radius: 25px;
    padding: 5px 5px;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background: black;
    text-decoration: none;
    outline: none;
}

.map-chooser .btn {
    /*border: 1px solid dimgrey;*/ /*#2561c5*/
    background: black url('img/maps-sprite-50.png') 0 0; /*#4d84df*/
    position: absolute;
    right: 0;
    bottom: 0;
    outline: 0;
}

.map-chooser .gm-btn {
    background-position: -50px 0;
}

.map-chooser .default-btn {
    background-position: 0 0;
}

.map-chooser .bing-btn {
    background-position: -150px 0;
}

.map-chooser .osm-btn {
    background-position: -100px 0;
}

/* Buttons positions:
    2 1
    3 B
*/
.map-chooser .pos-first {
    bottom: 88px;
}

.map-chooser .pos-second {
    right: 61px;
    bottom: 60px;
}

.map-chooser .pos-third {
    right: 88px;
}

.map-chooser .pos-base {
    right: 0;
    bottom: 0;
}

.export-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 39px;
    font-size: 21px;
    background: #4d84df;
}

.export-btn:hover {
    background-color: #5b8de1;
}